.Display {
  width: 300px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  background:linear-gradient(to bottom, #FFFFFF, #E6E6E6) #F5F5F5 repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
  outline: 2px solid #000; /* Чёрная рамка */
  border-radius: 10px; /* Радиус скругления */
}

.DisplayNumber {
  width: auto;
  height: auto;
  margin: auto;
  font-size: 40px;
}