.Display {
  width: 400px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  outline: 2px solid #000;
  border-radius: 10px;
}

.DisplayNumber {
  width: auto;
  height: auto;
  margin: auto;
  font-size: 40px;
}